In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
import gmaps
import time
from us import states
import gmaps.datasets

# Google developer API key
from config import gkey

In [2]:
# Reference the file where the CSV is located
population_csv_path = "../Project1/Population_by_Zip.csv"

In [3]:
# Import the data into a Pandas DataFrame
pop_by_zip_df = pd.read_csv(population_csv_path)
pop_by_zip_df.head()

   Zip Code ZCTA  2010 Census Population
0           1001                   16769
1           1002                   29049
2           1003                   10372
3           1005                    5079
4           1007                   14649

In [4]:
# Same number of values in both rows
# Both columns are made up of integers
pop_by_zip_df.count()

Zip Code ZCTA             33092
2010 Census Population    33092
dtype: int64

In [5]:
# Chicago Zipcodes range from 60007 - 60827

In [6]:
chicago = pop_by_zip_df.loc[pop_by_zip_df['Zip Code ZCTA'] == 60603]
chicago

       Zip Code ZCTA  2010 Census Population
20615          60603                     493

In [7]:
chicago_zip = pop_by_zip_df.loc[(pop_by_zip_df['Zip Code ZCTA'] >= 60007) & (pop_by_zip_df['Zip Code ZCTA'] <= 60827)]
# chicago_zip

In [8]:
# Change column titles 
chicago_pop_df = chicago_zip.rename(columns={"Zip Code ZCTA":"Chicago Zip Code", 
                                               "2010 Census Population":"Population in 2010"})
# chicago_pop_df.head(20)

In [9]:
chicago_pop_df.reset_index(drop=True)

     Chicago Zip Code  Population in 2010
0               60007               33820
1               60008               22717
2               60010               44095
3               60012               11120
4               60013               26872
5               60014               48550
6               60015               26800
7               60016               59690
8               60018               30099
9               60020                9825
10              60021                5545
11              60022                8153
12              60025               39105
13              60026               13335
14              60029                 482
15              60030               36056
16              60031               37947
17              60033               13922
18              60034                2040
19              60035               29763
20              60040                5431
21              60041                9250
22              60042                8547
23              60043                2513
24              60044                9792
25              60045               20925
26              60046               35111
27              60047               41669
28              60048               29095
29              60050               31620
..                ...                 ...
307             60637               49503
308             60638               55026
309             60639               90407
310             60640               65790
311             60641               71663
312             60642               18480
313             60643               49952
314             60644               48648
315             60645               45274
316             60646               27177
317             60647               87291
318             60649               46650
319             60651               64267
320             60652               40959
321             60653               29908
322             60654               14875
323             60655               28550
324             60656               27613
325             60657               65996
326             60659               38104
327             60660               42752
328             60661                7792
329             60706               23134
330             60707               42920
331             60712               12590
332             60714               29931
333             60803               22285
334             60804               84573
335             60805               19852
336             60827               27946

[337 rows x 2 columns]

In [10]:
chicago_pop_df.count()

Chicago Zip Code      337
Population in 2010    337
dtype: int64

In [11]:
chicago_pop_df

       Chicago Zip Code  Population in 2010
20340             60007               33820
20341             60008               22717
20342             60010               44095
20343             60012               11120
20344             60013               26872
20345             60014               48550
20346             60015               26800
20347             60016               59690
20348             60018               30099
20349             60020                9825
20350             60021                5545
20351             60022                8153
20352             60025               39105
20353             60026               13335
20354             60029                 482
20355             60030               36056
20356             60031               37947
20357             60033               13922
20358             60034                2040
20359             60035               29763
20360             60040                5431
20361             60041                9250
20362             60042                8547
20363             60043                2513
20364             60044                9792
20365             60045               20925
20366             60046               35111
20367             60047               41669
20368             60048               29095
20369             60050               31620
...                 ...                 ...
20647             60637               49503
20648             60638               55026
20649             60639               90407
20650             60640               65790
20651             60641               71663
20652             60642               18480
20653             60643               49952
20654             60644               48648
20655             60645               45274
20656             60646               27177
20657             60647               87291
20658             60649               46650
20659             60651               64267
20660             60652               40959
20661             60653               29908
20662             60654               14875
20663             60655               28550
20664             60656               27613
20665             60657               65996
20666             60659               38104
20667             60660               42752
20668             60661                7792
20669             60706               23134
20670             60707               42920
20671             60712               12590
20672             60714               29931
20673             60803               22285
20674             60804               84573
20675             60805               19852
20676             60827               27946

[337 rows x 2 columns]

In [12]:
lat_long_csv = "../Project1/KB_US_Zip_Codes.csv"

In [13]:
zip_lat_long_df = pd.read_csv(lat_long_csv)
zip_lat_long_df.head()

   ZIP        LAT        LNG
0  601  18.180555 -66.749961
1  602  18.361945 -67.175597
2  603  18.455183 -67.119887
3  606  18.158345 -66.932911
4  610  18.295366 -67.125135

Heat Map - Zipcode and Population

In [25]:
# Configure gmaps with API key
gmaps.configure(api_key=gkey)

In [29]:
fig = gmaps.figure(map_type='SATELLITE')

In [30]:
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
locations = chicago_pop_df["Chicago Zip Code"]

In [27]:
population = chicago_pop_df["Population in 2010"]

In [28]:
# fig = gmaps.figure()

# heat_layer = gmaps.heatmap_layer(locations, weights=population, dissipating=False, max_intensity=100, point_radius=1)

# heat_layer.dissipating = False
# heat_layer.max_intensity = 100
# heat_layer.point_radius = 1

# fig.add_layer(heat_layer)

# fig

TypeError: 'int' object is not iterable