In [19]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
import gmaps
import time
from us import states
import gmaps.datasets

# Google developer API key
from config import gkey

In [20]:
# Reference the file where the CSV is located
population_csv_path = "../Project1/Population_by_Zip.csv"

In [21]:
# Import the data into a Pandas DataFrame
pop_by_zip_df = pd.read_csv(population_csv_path)
pop_by_zip_df.head()

   Zip Code ZCTA  2010 Census Population
0           1001                   16769
1           1002                   29049
2           1003                   10372
3           1005                    5079
4           1007                   14649

In [22]:
# Same number of values in both rows
# Both columns are made up of integers
pop_by_zip_df.count()

Zip Code ZCTA             33092
2010 Census Population    33092
dtype: int64

In [23]:
# Chicago Zipcodes range from 60007 - 60827

In [24]:
chicago = pop_by_zip_df.loc[pop_by_zip_df['Zip Code ZCTA'] == 60603]
chicago

       Zip Code ZCTA  2010 Census Population
20615          60603                     493

In [25]:
chicago_zip = pop_by_zip_df.loc[(pop_by_zip_df['Zip Code ZCTA'] >= 60007) & (pop_by_zip_df['Zip Code ZCTA'] <= 60827)]
# chicago_zip

In [26]:
# Change column titles 
chicago_pop_df = chicago_zip.rename(columns={"Zip Code ZCTA":"Chicago Zip Code", 
                                               "2010 Census Population":"Population in 2010"})
# chicago_pop_df.head(20)

In [27]:
chicago_pop_df.reset_index(drop=True)

     Chicago Zip Code  Population in 2010
0               60007               33820
1               60008               22717
2               60010               44095
3               60012               11120
4               60013               26872
5               60014               48550
6               60015               26800
7               60016               59690
8               60018               30099
9               60020                9825
10              60021                5545
11              60022                8153
12              60025               39105
13              60026               13335
14              60029                 482
15              60030               36056
16              60031               37947
17              60033               13922
18              60034                2040
19              60035               29763
20              60040                5431
21              60041                9250
22              60042                8547
23              60043                2513
24              60044                9792
25              60045               20925
26              60046               35111
27              60047               41669
28              60048               29095
29              60050               31620
..                ...                 ...
307             60637               49503
308             60638               55026
309             60639               90407
310             60640               65790
311             60641               71663
312             60642               18480
313             60643               49952
314             60644               48648
315             60645               45274
316             60646               27177
317             60647               87291
318             60649               46650
319             60651               64267
320             60652               40959
321             60653               29908
322             60654               14875
323             60655               28550
324             60656               27613
325             60657               65996
326             60659               38104
327             60660               42752
328             60661                7792
329             60706               23134
330             60707               42920
331             60712               12590
332             60714               29931
333             60803               22285
334             60804               84573
335             60805               19852
336             60827               27946

[337 rows x 2 columns]

In [28]:
chicago_pop_df.count()

Chicago Zip Code      337
Population in 2010    337
dtype: int64

In [39]:
#chicago_pop_df

In [32]:
lat_long_csv = "../Project1/KB_US_Zip_Codes.csv"

In [37]:
zip_lat_long_df = pd.read_csv(lat_long_csv)
zip_lat_long_df.head()

   ZIP        LAT        LNG
0  601  18.180555 -66.749961
1  602  18.361945 -67.175597
2  603  18.455183 -67.119887
3  606  18.158345 -66.932911
4  610  18.295366 -67.125135

In [38]:
chicago_lat_long = zip_lat_long_df.loc[(zip_lat_long_df['ZIP'] >= 60007) & (zip_lat_long_df['ZIP'] <= 60827)]
chicago_lat_long.head()

         ZIP        LAT        LNG
20432  60007  42.008600 -87.997340
20433  60008  42.069786 -88.016221
20434  60010  42.146494 -88.164651
20435  60012  42.272492 -88.314084
20436  60013  42.223439 -88.235506

In [40]:
chicago_lat_long.reset_index(drop=True)

       ZIP        LAT        LNG
0    60007  42.008600 -87.997340
1    60008  42.069786 -88.016221
2    60010  42.146494 -88.164651
3    60012  42.272492 -88.314084
4    60013  42.223439 -88.235506
5    60014  42.232414 -88.327449
6    60015  42.173809 -87.878173
7    60016  42.049573 -87.895003
8    60018  41.979388 -87.894358
9    60020  42.389054 -88.173346
10   60021  42.194697 -88.217108
11   60022  42.135423 -87.761882
12   60025  42.075201 -87.821026
13   60026  42.092234 -87.837445
14   60029  42.059253 -87.778339
15   60030  42.337078 -88.044326
16   60031  42.373574 -87.939353
17   60033  42.424786 -88.608011
18   60034  42.456318 -88.419695
19   60035  42.185968 -87.805939
20   60040  42.206363 -87.813098
21   60041  42.364552 -88.151120
22   60042  42.278206 -88.196627
23   60043  42.088859 -87.714588
24   60044  42.284408 -87.862297
25   60045  42.235997 -87.864777
26   60046  42.416323 -88.059119
27   60047  42.203134 -88.044208
28   60048  42.295408 -87.950611
29   60050  42.331147 -88.295180
..     ...        ...        ...
307  60637  41.781621 -87.599876
308  60638  41.781430 -87.770520
309  60639  41.920552 -87.756054
310  60640  41.972872 -87.662604
311  60641  41.946606 -87.746787
312  60642  41.902042 -87.658544
313  60643  41.700273 -87.663267
314  60644  41.880084 -87.756373
315  60645  42.008558 -87.694735
316  60646  41.993019 -87.759627
317  60647  41.921215 -87.701028
318  60649  41.763420 -87.565879
319  60651  41.902093 -87.740857
320  60652  41.747932 -87.714795
321  60653  41.819962 -87.605984
322  60654  41.892289 -87.637271
323  60655  41.694776 -87.703777
324  60656  41.974280 -87.827132
325  60657  41.940293 -87.646857
326  60659  41.991488 -87.703986
327  60660  41.991110 -87.663076
328  60661  41.883030 -87.644101
329  60706  41.964257 -87.816242
330  60707  41.921853 -87.807282
331  60712  42.005432 -87.733239
332  60714  42.028057 -87.810967
333  60803  41.674038 -87.736170
334  60804  41.838036 -87.759870
335  60805  41.722001 -87.702446
336  60827  41.649434 -87.633572

[337 rows x 3 columns]

In [43]:
# Change column titles 
chicago_latlong = chicago_lat_long.rename(columns={"ZIP":"Chicago Zip Code", 
                                               "LAT":"Latitude", "LNG":"Longitude"})
chicago_latlong.head()

       Chicago Zip Code   Latitude  Longitude
20432             60007  42.008600 -87.997340
20433             60008  42.069786 -88.016221
20434             60010  42.146494 -88.164651
20435             60012  42.272492 -88.314084
20436             60013  42.223439 -88.235506

In [44]:
# Merge population and lat/lng data frames

zip_pop_merge = pd.merge(chicago_latlong, chicago_pop_df, on="Chicago Zip Code")
zip_pop_merge

     Chicago Zip Code   Latitude  Longitude  Population in 2010
0               60007  42.008600 -87.997340               33820
1               60008  42.069786 -88.016221               22717
2               60010  42.146494 -88.164651               44095
3               60012  42.272492 -88.314084               11120
4               60013  42.223439 -88.235506               26872
5               60014  42.232414 -88.327449               48550
6               60015  42.173809 -87.878173               26800
7               60016  42.049573 -87.895003               59690
8               60018  41.979388 -87.894358               30099
9               60020  42.389054 -88.173346                9825
10              60021  42.194697 -88.217108                5545
11              60022  42.135423 -87.761882                8153
12              60025  42.075201 -87.821026               39105
13              60026  42.092234 -87.837445               13335
14              60029  42.059253 -87.778339                 482
15              60030  42.337078 -88.044326               36056
16              60031  42.373574 -87.939353               37947
17              60033  42.424786 -88.608011               13922
18              60034  42.456318 -88.419695                2040
19              60035  42.185968 -87.805939               29763
20              60040  42.206363 -87.813098                5431
21              60041  42.364552 -88.151120                9250
22              60042  42.278206 -88.196627                8547
23              60043  42.088859 -87.714588                2513
24              60044  42.284408 -87.862297                9792
25              60045  42.235997 -87.864777               20925
26              60046  42.416323 -88.059119               35111
27              60047  42.203134 -88.044208               41669
28              60048  42.295408 -87.950611               29095
29              60050  42.331147 -88.295180               31620
..                ...        ...        ...                 ...
307             60637  41.781621 -87.599876               49503
308             60638  41.781430 -87.770520               55026
309             60639  41.920552 -87.756054               90407
310             60640  41.972872 -87.662604               65790
311             60641  41.946606 -87.746787               71663
312             60642  41.902042 -87.658544               18480
313             60643  41.700273 -87.663267               49952
314             60644  41.880084 -87.756373               48648
315             60645  42.008558 -87.694735               45274
316             60646  41.993019 -87.759627               27177
317             60647  41.921215 -87.701028               87291
318             60649  41.763420 -87.565879               46650
319             60651  41.902093 -87.740857               64267
320             60652  41.747932 -87.714795               40959
321             60653  41.819962 -87.605984               29908
322             60654  41.892289 -87.637271               14875
323             60655  41.694776 -87.703777               28550
324             60656  41.974280 -87.827132               27613
325             60657  41.940293 -87.646857               65996
326             60659  41.991488 -87.703986               38104
327             60660  41.991110 -87.663076               42752
328             60661  41.883030 -87.644101                7792
329             60706  41.964257 -87.816242               23134
330             60707  41.921853 -87.807282               42920
331             60712  42.005432 -87.733239               12590
332             60714  42.028057 -87.810967               29931
333             60803  41.674038 -87.736170               22285
334             60804  41.838036 -87.759870               84573
335             60805  41.722001 -87.702446               19852
336             60827  41.649434 -87.633572               27946

[337 rows x 4 columns]

Heat Map - Zipcode and Population

In [45]:
# Configure gmaps with API key
gmaps.configure(api_key=gkey)

In [46]:
locations = zip_pop_merge[["Latitude", "Longitude"]]

In [47]:
population = zip_pop_merge["Population in 2010"]

In [48]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=population, dissipating=False, max_intensity=100, point_radius=1)

heat_layer.dissipating = False
heat_layer.max_intensity = 100
heat_layer.point_radius = 1

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))