In [92]:
#Dependencies
import requests
import json
import gmaps
import time
import gmaps.datasets

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

from us import states

from yelpapi import get_my_key
from gkey import gkey

In [93]:
#Define all the pathways
population_csv_path = "../Project1/Population_by_Zip.csv"

business_id = "e1zDuraqPYNqfEmgXJJAyQ"
ENDPORINT = "https://api.yelp.com/v3/businesses/search"
HEADERS = {'Authorization': 'bearer %s' % get_my_key}

In [94]:
#API parameters for Yelp Api


PARAMETERS = {"term": "coffee", "limit": 50, "offset":150, "radius": 5000, "location": "Chicago"} 
response = requests.get(url = ENDPORINT, params= PARAMETERS, headers=HEADERS)
business_data = response.json()

len(business_data["businesses"])

50

In [95]:
#Pick up the columns we care
good_coffee = business_data["businesses"]
good_coffee_df = pd.DataFrame(good_coffee)
good_coffee_df = good_coffee_df[["name","is_closed","categories","review_count","rating","location", "coordinates"]]
good_coffee_df.head()

,name,is_closed,categories,review_count,rating,location,coordinates
0,Cafe con Leche,False,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",911,4.0,"{'address1': '2714 N Milwaukee Ave', 'address2...","{'latitude': 41.9305879, 'longitude': -87.710207}"
1,Blend Cafe,False,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",12,4.5,"{'address1': '2427 W Hubbard St', 'address2': ...","{'latitude': 41.8894428862849, 'longitude': -8..."
2,3 Greens Market,False,"[{'alias': 'salad', 'title': 'Salad'}, {'alias...",218,4.0,"{'address1': '354 W Hubbard St', 'address2': '...","{'latitude': 41.8900399, 'longitude': -87.6377..."
3,Do-Rite Donuts & Chicken,False,"[{'alias': 'donuts', 'title': 'Donuts'}, {'ali...",201,4.5,"{'address1': '181 N Morgan St', 'address2': No...","{'latitude': 41.8853451, 'longitude': -87.6519..."
4,Vanille Patisserie,False,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...",229,4.5,"{'address1': '2108 N Clark St', 'address2': ''...","{'latitude': 41.920406577296, 'longitude': -87..."

In [96]:
#Give a requirement on how to define a good coffee shop
great_coffee_shop = good_coffee_df.loc[(good_coffee_df["review_count"]>50) & 
                                       ( good_coffee_df["rating"] >=4.0)]

#How many coffee shops we have
num_coffee_shop = great_coffee_shop['name'].count()
num_coffee_shop

26

In [97]:
zip_list = []
lat_list = []
lng_list = []

for i in range(0, num_coffee_shop):
    
    temp_zip = great_coffee_shop["location"].iloc[i]["zip_code"]
    zip_list.append(temp_zip)
    
    temp_lat = great_coffee_shop["coordinates"].iloc[i]["latitude"]
    lat_list.append(temp_lat)
    
    temp_lng = great_coffee_shop["coordinates"].iloc[i]["longitude"]
    lng_list.append(temp_lng)    
    
#Re-organize the dataframe
great_coffee_shop['zip_code'] = zip_list
great_coffee_shop['latitude'] = lat_list
great_coffee_shop['longitude'] = lng_list

great_coffee_shop

/Users/katelynburke/anaconda3/envs/PythonData2/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/katelynburke/anaconda3/envs/PythonData2/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/katelynburke/anaconda3/envs/PythonData2/lib/python3.6/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,name,is_closed,categories,review_count,rating,location,coordinates,zip_code,latitude,longitude
0,Cafe con Leche,False,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",911,4.0,"{'address1': '2714 N Milwaukee Ave', 'address2...","{'latitude': 41.9305879, 'longitude': -87.710207}",60647,41.930588,-87.710207
2,3 Greens Market,False,"[{'alias': 'salad', 'title': 'Salad'}, {'alias...",218,4.0,"{'address1': '354 W Hubbard St', 'address2': '...","{'latitude': 41.8900399, 'longitude': -87.6377...",60654,41.890040,-87.637763
3,Do-Rite Donuts & Chicken,False,"[{'alias': 'donuts', 'title': 'Donuts'}, {'ali...",201,4.5,"{'address1': '181 N Morgan St', 'address2': No...","{'latitude': 41.8853451, 'longitude': -87.6519...",60607,41.885345,-87.651922
4,Vanille Patisserie,False,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...",229,4.5,"{'address1': '2108 N Clark St', 'address2': ''...","{'latitude': 41.920406577296, 'longitude': -87...",60614,41.920407,-87.637371
7,Skinny Piggy Bakery,False,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...",69,4.0,"{'address1': '1214 W Taylor St', 'address2': N...","{'latitude': 41.86962, 'longitude': -87.65741}",60607,41.869620,-87.657410
8,The Bakery at Fat Rice,False,"[{'alias': 'bakeries', 'title': 'Bakeries'}]",62,4.0,"{'address1': '2951 W Diversey Ave', 'address2'...","{'latitude': 41.9319451, 'longitude': -87.7017...",60647,41.931945,-87.701734
10,M2 Cafe,False,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",81,4.0,"{'address1': '850 W Jackson', 'address2': '', ...","{'latitude': 41.878154, 'longitude': -87.649269}",60607,41.878154,-87.649269
11,Iguana Café,False,"[{'alias': 'creperies', 'title': 'Creperies'},...",696,4.0,"{'address1': '517 N Halsted St', 'address2': '...","{'latitude': 41.8917655944824, 'longitude': -8...",60642,41.891766,-87.647430
12,Peet's Coffee,False,"[{'alias': 'coffee', 'title': 'Coffee & Tea'}]",186,4.0,"{'address1': '1000 W North Ave', 'address2': '...","{'latitude': 41.9111559756949, 'longitude': -8...",60622,41.911156,-87.653766
13,Aje Cafe,False,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",294,4.5,"{'address1': '2942 N Clark St', 'address2': ''...","{'latitude': 41.9360893144147, 'longitude': -8...",60657,41.936089,-87.647728
14,Cafe Robey,False,"[{'alias': 'breakfast_brunch', 'title': 'Break...",153,4.0,"{'address1': '2018 W North Ave', 'address2': '...","{'latitude': 41.910642, 'longitude': -87.678264}",60647,41.910642,-87.678264
15,Same Day Cafe,False,"[{'alias': 'desserts', 'title': 'Desserts'}, {...",174,4.5,"{'address1': '2651 N Kedzie Ave', 'address2': ...","{'latitude': 41.9297214, 'longitude': -87.7073...",60647,41.929721,-87.707345
16,D'amato's Bakery,False,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...",348,4.5,"{'address1': '1124 W Grand Ave', 'address2': '...","{'latitude': 41.891188857475, 'longitude': -87...",60622,41.891189,-87.655708
19,Nellie's,False,"[{'alias': 'breakfast_brunch', 'title': 'Break...",312,4.0,"{'address1': '2458 W Division St', 'address2':...","{'latitude': 41.9032989, 'longitude': -87.689329}",60622,41.903299,-87.689329
22,Donut Delight,False,"[{'alias': 'donuts', 'title': 'Donuts'}]",69,4.0,"{'address1': '1750 N California Ave', 'address...","{'latitude': 41.9136129314033, 'longitude': -8...",60647,41.913613,-87.697385
25,Cafe Vienna,False,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...",620,4.0,"{'address1': '2523 N Clark St', 'address2': ''...","{'latitude': 41.928489, 'longitude': -87.642033}",60614,41.928489,-87.642033
30,etta,False,"[{'alias': 'newamerican', 'title': 'American (...",269,4.5,"{'address1': '1840 W North Ave', 'address2': N...","{'latitude': 41.91073, 'longitude': -87.67417}",60622,41.910730,-87.674170
35,Bittersweet Pastry Shop,False,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...",668,4.0,"{'address1': '1114 W Belmont Ave', 'address2':...","{'latitude': 41.94013, 'longitude': -87.65729}",60657,41.940130,-87.657290
36,Healthy and Simple,False,"[{'alias': 'juicebars', 'title': 'Juice Bars &...",72,4.5,"{'address1': '815 N Ashland Ave', 'address2': ...","{'latitude': 41.89656, 'longitude': -87.6669}",60622,41.896560,-87.666900
37,Cafe Tola,False,"[{'alias': 'empanadas', 'title': 'Empanadas'},...",157,4.0,"{'address1': '3324 N California Ave', 'address...","{'latitude': 41.942657, 'longitude': -87.698182}",60618,41.942657,-87.698182
39,The Doughnut Vault,False,"[{'alias': 'donuts', 'title': 'Donuts'}]",961,4.0,"{'address1': '401 1/2 N Franklin St', 'address...","{'latitude': 41.889371, 'longitude': -87.635325}",60654,41.889371,-87.635325
41,JuiceRx,False,"[{'alias': 'raw_food', 'title': 'Live/Raw Food...",83,4.0,"{'address1': '1880 N Damen Ave', 'address2': N...","{'latitude': 41.91611, 'longitude': -87.67789}",60647,41.916110,-87.677890
42,Bite Café,False,"[{'alias': 'breakfast_brunch', 'title': 'Break...",862,4.0,"{'address1': '1035 N Western Ave', 'address2':...","{'latitude': 41.90047, 'longitude': -87.68663}",60622,41.900470,-87.686630
43,Morgan Street Cafe,False,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",183,4.0,"{'address1': '111 S Morgan St', 'address2': ''...","{'latitude': 41.8796768188477, 'longitude': -8...",60607,41.879677,-87.651627
45,Infiniteus Rocks & Juice,False,"[{'alias': 'juicebars', 'title': 'Juice Bars &...",52,4.5,"{'address1': '1644 W North Ave', 'address2': N...","{'latitude': 41.91086, 'longitude': -87.66952}",60622,41.910860,-87.669520
47,Flo,False,"[{'alias': 'breakfast_brunch', 'title': 'Break...",922,4.0,"{'address1': '1434 W Chicago Ave', 'address2':...","{'latitude': 41.8963899, 'longitude': -87.66383}",60642,41.896390,-87.663830

In [98]:
great_coffee_shop.zip_code.dtype
# need to change the data type of Zipcode to integer (int64)

dtype('O')

In [102]:
great_coffee_shop['zip_code'] = great_coffee_shop['zip_code'].apply(pd.to_numeric)
print(great_coffee_shop.dtypes)

#great_coffee_[['A', 'C']] = df[['A', 'C']].apply(pd.to_numeric) 
#print(df.dtypes)

name             object
is_closed          bool
categories       object
review_count      int64
rating          float64
location         object
coordinates      object
zip_code          int64
latitude        float64
longitude       float64
dtype: object

/Users/katelynburke/anaconda3/envs/PythonData2/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [63]:
#Group by zip_code
great_coffee_by_zip = great_coffee_shop.groupby('zip_code')
num_coffee_by_zip = great_coffee_by_zip['name'].count()

great_coffee_by_zip_df = pd.DataFrame(num_coffee_by_zip)
great_coffee_by_zip_df = great_coffee_by_zip_df.rename(columns={"name":"Number of Coffee Shop"})
great_coffee_by_zip_df.sort_values(by = "Number of Coffee Shop",ascending=False, inplace=True)

great_coffee_by_zip_df

          Number of Coffee Shop
zip_code
60622                         7
60647                         6
60607                         4
60614                         2
60642                         2
60654                         2
60657                         2
60618                         1

In [64]:
# Configure the map
gmaps.configure(api_key = gkey)

locations = great_coffee_shop[["latitude", "longitude"]].astype(float)
locations.head()

    latitude  longitude
0  41.930588 -87.710207
2  41.890040 -87.637763
3  41.885345 -87.651922
4  41.920407 -87.637371
7  41.869620 -87.657410

In [65]:
coffee_shop_layer = gmaps.symbol_layer(locations, 
                                       fill_color='rgba(0, 150, 0, 0.4)',
                                       stroke_color='rgba(0, 0, 150, 0.4)', 
                                       scale=3)

fig = gmaps.figure()

fig.add_layer(coffee_shop_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
#Read data from csv for Zip Code and Population Data
pop_by_zip_df = pd.read_csv(population_csv_path)
pop_by_zip_df.head()

   Zip Code ZCTA  2010 Census Population
0           1001                   16769
1           1002                   29049
2           1003                   10372
3           1005                    5079
4           1007                   14649

In [67]:
# Same number of values in both rows
# Both columns are made up of integers
pop_by_zip_df.count()

Zip Code ZCTA             33092
2010 Census Population    33092
dtype: int64

In [68]:
# Chicago Zipcodes range from 60007 - 60827
chicago = pop_by_zip_df.loc[pop_by_zip_df['Zip Code ZCTA'] == 60603]
chicago

       Zip Code ZCTA  2010 Census Population
20615          60603                     493

In [69]:
# Pull Chicago Zip Codes and population of Chicago Zip Codes
chicago_zip = pop_by_zip_df.loc[(pop_by_zip_df['Zip Code ZCTA'] >= 60007) & (pop_by_zip_df['Zip Code ZCTA'] <= 60827)]

chicago_pop_df = chicago_zip.rename(columns={"Zip Code ZCTA":"zip_code", 
                                               "2010 Census Population":"Population in 2010"})
chicago_pop_df.reset_index(drop=True).head()

   zip_code  Population in 2010
0     60007               33820
1     60008               22717
2     60010               44095
3     60012               11120
4     60013               26872

In [70]:
chicago_pop_df.count()

zip_code              337
Population in 2010    337
dtype: int64

In [71]:
# Zip Code and coordinating Latitude and Longitude Data
lat_long_csv = "../Project1/KB_US_Zip_Codes.csv"
zip_lat_long_df = pd.read_csv(lat_long_csv)
#zip_lat_long_df.head()

In [72]:
# Pull Chicago Zip Codes with coordinating Latitudes and Longitudes 
chicago_lat_long = zip_lat_long_df.loc[(zip_lat_long_df['ZIP'] >= 60007) & (zip_lat_long_df['ZIP'] <= 60827)]
chicago_lat_long.reset_index(drop=True).head()

     ZIP        LAT        LNG
0  60007  42.008600 -87.997340
1  60008  42.069786 -88.016221
2  60010  42.146494 -88.164651
3  60012  42.272492 -88.314084
4  60013  42.223439 -88.235506

In [73]:
# chicago_lat_long.reset_index(drop=True).head()

In [74]:
# Change column titles 
chicago_latlong = chicago_lat_long.rename(columns={"ZIP":"zip_code", 
                                               "LAT":"Latitude", "LNG":"Longitude"})
chicago_latlong.head()

       zip_code   Latitude  Longitude
20432     60007  42.008600 -87.997340
20433     60008  42.069786 -88.016221
20434     60010  42.146494 -88.164651
20435     60012  42.272492 -88.314084
20436     60013  42.223439 -88.235506

In [75]:
# Merge population and lat/lng data frames
zip_pop_merge = pd.merge(chicago_latlong, chicago_pop_df, on="zip_code")
zip_pop_merge.head()

   zip_code   Latitude  Longitude  Population in 2010
0     60007  42.008600 -87.997340               33820
1     60008  42.069786 -88.016221               22717
2     60010  42.146494 -88.164651               44095
3     60012  42.272492 -88.314084               11120
4     60013  42.223439 -88.235506               26872

In [89]:
zip_pop_merge.zip_code.dtype

dtype('int64')

In [103]:
# Merge Population and Yelp Data into one Data Frame
# Use pandas concat
merged_coffee_pop = pd.merge(chicago_pop_df, great_coffee_shop, on="zip_code")

#merged_coffee_pop = pd.concat([chicago_pop_df, great_coffee_shop], join="outer", sort=False)
merged_coffee_pop

,zip_code,Population in 2010,name,is_closed,categories,review_count,rating,location,coordinates,latitude,longitude
0,60607,23897,Do-Rite Donuts & Chicken,False,"[{'alias': 'donuts', 'title': 'Donuts'}, {'ali...",201,4.5,"{'address1': '181 N Morgan St', 'address2': No...","{'latitude': 41.8853451, 'longitude': -87.6519...",41.885345,-87.651922
1,60607,23897,Skinny Piggy Bakery,False,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...",69,4.0,"{'address1': '1214 W Taylor St', 'address2': N...","{'latitude': 41.86962, 'longitude': -87.65741}",41.869620,-87.657410
2,60607,23897,M2 Cafe,False,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",81,4.0,"{'address1': '850 W Jackson', 'address2': '', ...","{'latitude': 41.878154, 'longitude': -87.649269}",41.878154,-87.649269
3,60607,23897,Morgan Street Cafe,False,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",183,4.0,"{'address1': '111 S Morgan St', 'address2': ''...","{'latitude': 41.8796768188477, 'longitude': -8...",41.879677,-87.651627
4,60614,66617,Vanille Patisserie,False,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...",229,4.5,"{'address1': '2108 N Clark St', 'address2': ''...","{'latitude': 41.920406577296, 'longitude': -87...",41.920407,-87.637371
5,60614,66617,Cafe Vienna,False,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...",620,4.0,"{'address1': '2523 N Clark St', 'address2': ''...","{'latitude': 41.928489, 'longitude': -87.642033}",41.928489,-87.642033
6,60618,92084,Cafe Tola,False,"[{'alias': 'empanadas', 'title': 'Empanadas'},...",157,4.0,"{'address1': '3324 N California Ave', 'address...","{'latitude': 41.942657, 'longitude': -87.698182}",41.942657,-87.698182
7,60622,52548,Peet's Coffee,False,"[{'alias': 'coffee', 'title': 'Coffee & Tea'}]",186,4.0,"{'address1': '1000 W North Ave', 'address2': '...","{'latitude': 41.9111559756949, 'longitude': -8...",41.911156,-87.653766
8,60622,52548,D'amato's Bakery,False,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...",348,4.5,"{'address1': '1124 W Grand Ave', 'address2': '...","{'latitude': 41.891188857475, 'longitude': -87...",41.891189,-87.655708
9,60622,52548,Nellie's,False,"[{'alias': 'breakfast_brunch', 'title': 'Break...",312,4.0,"{'address1': '2458 W Division St', 'address2':...","{'latitude': 41.9032989, 'longitude': -87.689329}",41.903299,-87.689329
10,60622,52548,etta,False,"[{'alias': 'newamerican', 'title': 'American (...",269,4.5,"{'address1': '1840 W North Ave', 'address2': N...","{'latitude': 41.91073, 'longitude': -87.67417}",41.910730,-87.674170
11,60622,52548,Healthy and Simple,False,"[{'alias': 'juicebars', 'title': 'Juice Bars &...",72,4.5,"{'address1': '815 N Ashland Ave', 'address2': ...","{'latitude': 41.89656, 'longitude': -87.6669}",41.896560,-87.666900
12,60622,52548,Bite Café,False,"[{'alias': 'breakfast_brunch', 'title': 'Break...",862,4.0,"{'address1': '1035 N Western Ave', 'address2':...","{'latitude': 41.90047, 'longitude': -87.68663}",41.900470,-87.686630
13,60622,52548,Infiniteus Rocks & Juice,False,"[{'alias': 'juicebars', 'title': 'Juice Bars &...",52,4.5,"{'address1': '1644 W North Ave', 'address2': N...","{'latitude': 41.91086, 'longitude': -87.66952}",41.910860,-87.669520
14,60642,18480,Iguana Café,False,"[{'alias': 'creperies', 'title': 'Creperies'},...",696,4.0,"{'address1': '517 N Halsted St', 'address2': '...","{'latitude': 41.8917655944824, 'longitude': -8...",41.891766,-87.647430
15,60642,18480,Flo,False,"[{'alias': 'breakfast_brunch', 'title': 'Break...",922,4.0,"{'address1': '1434 W Chicago Ave', 'address2':...","{'latitude': 41.8963899, 'longitude': -87.66383}",41.896390,-87.663830
16,60647,87291,Cafe con Leche,False,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",911,4.0,"{'address1': '2714 N Milwaukee Ave', 'address2...","{'latitude': 41.9305879, 'longitude': -87.710207}",41.930588,-87.710207
17,60647,87291,The Bakery at Fat Rice,False,"[{'alias': 'bakeries', 'title': 'Bakeries'}]",62,4.0,"{'address1': '2951 W Diversey Ave', 'address2'...","{'latitude': 41.9319451, 'longitude': -87.7017...",41.931945,-87.701734
18,60647,87291,Cafe Robey,False,"[{'alias': 'breakfast_brunch', 'title': 'Break...",153,4.0,"{'address1': '2018 W North Ave', 'address2': '...","{'latitude': 41.910642, 'longitude': -87.678264}",41.910642,-87.678264
19,60647,87291,Same Day Cafe,False,"[{'alias': 'desserts', 'title': 'Desserts'}, {...",174,4.5,"{'address1': '2651 N Kedzie Ave', 'address2': ...","{'latitude': 41.9297214, 'longitude': -87.7073...",41.929721,-87.707345
20,60647,87291,Donut Delight,False,"[{'alias': 'donuts', 'title': 'Donuts'}]",69,4.0,"{'address1': '1750 N California Ave', 'address...","{'latitude': 41.9136129314033, 'longitude': -8...",41.913613,-87.697385
21,60647,87291,JuiceRx,False,"[{'alias': 'raw_food', 'title': 'Live/Raw Food...",83,4.0,"{'address1': '1880 N Damen Ave', 'address2': N...","{'latitude': 41.91611, 'longitude': -87.67789}",41.916110,-87.677890
22,60654,14875,3 Greens Market,False,"[{'alias': 'salad', 'title': 'Salad'}, {'alias...",218,4.0,"{'address1': '354 W Hubbard St', 'address2': '...","{'latitude': 41.8900399, 'longitude': -87.6377...",41.890040,-87.637763
23,60654,14875,The Doughnut Vault,False,"[{'alias': 'donuts', 'title': 'Donuts'}]",961,4.0,"{'address1': '401 1/2 N Franklin St', 'address...","{'latitude': 41.889371, 'longitude': -87.635325}",41.889371,-87.635325
24,60657,65996,Aje Cafe,False,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",294,4.5,"{'address1': '2942 N Clark St', 'address2': ''...","{'latitude': 41.9360893144147, 'longitude': -8...",41.936089,-87.647728
25,60657,65996,Bittersweet Pastry Shop,False,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...",668,4.0,"{'address1': '1114 W Belmont Ave', 'address2':...","{'latitude': 41.94013, 'longitude': -87.65729}",41.940130,-87.657290

In [77]:
locations2 = zip_pop_merge[["Latitude", "Longitude"]].astype(float)
population = zip_pop_merge["Population in 2010"].astype(float)

factor = 1500

population_fix = [round(x/factor,2) for x in population]
population_fix

[22.55,
 15.14,
 29.4,
 7.41,
 17.91,
 32.37,
 17.87,
 39.79,
 20.07,
 6.55,
 3.7,
 5.44,
 26.07,
 8.89,
 0.32,
 24.04,
 25.3,
 9.28,
 1.36,
 19.84,
 3.62,
 6.17,
 5.7,
 1.68,
 6.53,
 13.95,
 23.41,
 27.78,
 19.4,
 21.08,
 16.79,
 15.51,
 36.81,
 24.79,
 17.17,
 26.62,
 10.27,
 25.72,
 24.98,
 5.59,
 10.67,
 2.4,
 0.62,
 40.0,
 25.99,
 22.28,
 17.88,
 6.72,
 6.56,
 11.18,
 47.81,
 17.99,
 10.51,
 27.69,
 25.09,
 18.01,
 13.05,
 4.6,
 7.5,
 21.49,
 20.74,
 26.08,
 21.46,
 27.95,
 12.69,
 13.54,
 26.62,
 15.16,
 0.37,
 25.7,
 0.17,
 3.04,
 0.22,
 30.85,
 10.57,
 6.91,
 33.97,
 31.6,
 12.62,
 30.91,
 0.16,
 9.44,
 12.06,
 25.4,
 19.04,
 4.83,
 4.68,
 25.2,
 22.92,
 9.56,
 0.15,
 17.63,
 6.91,
 0.04,
 1.75,
 1.81,
 34.31,
 1.2,
 2.71,
 8.36,
 16.07,
 11.18,
 5.28,
 19.32,
 1.59,
 16.95,
 5.41,
 3.47,
 14.7,
 3.3,
 22.56,
 6.83,
 16.36,
 8.14,
 20.5,
 17.04,
 7.86,
 15.11,
 14.56,
 1.13,
 19.22,
 1.63,
 24.35,
 19.34,
 28.44,
 20.31,
 7.11,
 9.54,
 10.9,
 26.13,
 13.18,
 3.18,
 28.75,
 20.91,
 3.02,
 1.69,
 21.41,
 11.49,
 7.45,
 5.2,
 42.3,
 11.69,
 11.6,
 16.97,
 1.12,
 3.8,
 24.79,
 8.46,
 38.76,
 9.43,
 6.26,
 10.36,
 15.19,
 4.07,
 2.65,
 6.27,
 20.28,
 1.63,
 6.08,
 19.73,
 8.14,
 10.42,
 13.4,
 15.05,
 14.27,
 11.44,
 32.6,
 12.21,
 0.12,
 19.26,
 15.28,
 35.27,
 24.58,
 6.62,
 14.1,
 1.17,
 17.37,
 26.54,
 9.14,
 16.28,
 6.14,
 13.55,
 22.71,
 18.65,
 37.9,
 10.96,
 2.9,
 9.37,
 9.62,
 19.29,
 1.01,
 3.22,
 25.82,
 9.78,
 6.41,
 11.66,
 14.74,
 17.36,
 4.08,
 3.95,
 0.41,
 9.4,
 3.59,
 14.96,
 0.51,
 6.58,
 1.59,
 25.44,
 11.22,
 0.51,
 3.5,
 7.9,
 7.38,
 4.55,
 17.95,
 13.64,
 15.16,
 7.75,
 14.58,
 11.14,
 25.28,
 51.05,
 35.34,
 19.26,
 1.2,
 0.74,
 12.7,
 6.47,
 18.34,
 19.39,
 21.36,
 2.39,
 0.06,
 1.92,
 11.73,
 6.59,
 20.78,
 9.05,
 18.32,
 0.43,
 1.27,
 18.04,
 7.1,
 0.08,
 0.44,
 17.75,
 0.23,
 28.61,
 2.1,
 11.4,
 24.1,
 17.31,
 8.63,
 10.45,
 8.15,
 0.43,
 0.96,
 3.37,
 2.97,
 0.52,
 7.86,
 9.03,
 1.34,
 0.1,
 8.64,
 16.57,
 14.94,
 15.41,
 23.95,
 27.54,
 27.02,
 14.87,
 30.83,
 7.41,
 0.8,
 0.33,
 0.38,
 16.45,
 1.54,
 15.93,
 55.16,
 43.27,
 25.15,
 19.15,
 22.31,
 32.19,
 44.41,
 27.07,
 32.29,
 56.1,
 61.39,
 42.55,
 48.14,
 23.94,
 35.03,
 61.41,
 25.4,
 52.43,
 33.43,
 48.13,
 75.94,
 36.06,
 19.09,
 60.88,
 8.62,
 49.53,
 27.28,
 33.0,
 36.68,
 60.27,
 43.86,
 47.78,
 12.32,
 33.3,
 32.43,
 30.18,
 18.12,
 58.19,
 31.1,
 42.84,
 27.31,
 19.94,
 9.92,
 19.03,
 18.41,
 44.0,
 25.4,
 28.5,
 5.19,
 15.42,
 28.61,
 8.39,
 19.95,
 14.86,
 56.38,
 13.23,
 18.63]

In [78]:
fig2 = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations2, 
                                 weights=population_fix, 
                                 dissipating=False, 
                                 max_intensity=100, 
                                 point_radius=0.04)

heat_layer.dissipating = False
heat_layer.max_intensity = 100
heat_layer.point_radius = 0.04

fig2.add_layer(heat_layer)

fig2

Figure(layout=FigureLayout(height='420px'))

In [79]:
fig3 = gmaps.figure()

fig3.add_layer(heat_layer)
fig3.add_layer(coffee_shop_layer)

fig3

Figure(layout=FigureLayout(height='420px'))

In [113]:
# Scatter/Bubble Plot of the Population of the Neighborhood (based on Zip Code) vs. 
# The Number of Yelp Reviews (per coffee shop)

# Each bubble is a Chicago Zip Code 
# Circle Size correlates with the population in that Zip Code 
# X-axis = total number of reviews in that zip code (sum of reviews in zip)
# Y-axis = average number of ratings in that zip code (mean/avg of raring in zip)

population_bubble = merged_coffee_pop.loc[merged_coffee_pop["Population in 2010"]]

KeyError: 'None of [0     23897\n1     23897\n2     23897\n3     23897\n4     66617\n5     66617\n6     92084\n7     52548\n8     52548\n9     52548\n10    52548\n11    52548\n12    52548\n13    52548\n14    18480\n15    18480\n16    87291\n17    87291\n18    87291\n19    87291\n20    87291\n21    87291\n22    14875\n23    14875\n24    65996\n25    65996\nName: Population in 2010, dtype: int64] are in the [index]'

In [116]:
yelp_review = merged_coffee_pop["review_count"].sum()
yelp_rating = merged_coffee_pop["rating"].mean()

In [117]:
# Create and format scatter plot
plt.scatter(yelp_review, yelp_rating, marker = "o", edgecolors = "black", facecolor = "coral", 
            alpha = 0.75, linewidth = 1.0)

plt.xlabel('Number of Reviews Per Coffee Shops')
plt.ylabel('Average Rating (in Stars) of Coffee Shops')
plt.title('Population of Chicago Neighborhood vs. Popularity of Coffee Shops (by Yelp Reviews and Ratings)')
plt.text(42, 30, 'Note: Circle size correlates population of Chicago Neighborhood (by Zip Code)')

plt.grid()

# plt.legend(pyber_data_complete["type"].unique(), title="City Types")

plt.show()

ValueError: Image size of 149624864x185315 pixels is too large. It must be less than 2^16 in each direction.